<div *ngIf="Country">
  <h1 class="mat-headline" id="DetailTitle">{{Country.name}}</h1>
  <mat-tab-group>
    <mat-tab label="Général">
      <mat-grid-list cols="3" rowHeight="1:1" id="DetailContainer">

        <mat-grid-tile>

          <mat-list>

            <mat-list-item>
              <label>Capitale : </label> {{Country.capital}}
            </mat-list-item>
            <mat-list-item>
              <label>Population : </label> {{Country.population}}
            </mat-list-item>
            <mat-list-item>
              <label>Superficie : </label> {{Country.area}}
            </mat-list-item>
            <mat-list-item>
              <label>Région : </label> {{Country.region}}
            </mat-list-item>

            <mat-list-item>
              <label [ngPlural]=" Country.languages.length">
                <ng-template ngPluralCase="=1">Langage : </ng-template>
                <ng-template ngPluralCase="other">Langages :</ng-template>
              </label> 
              {{LanguageList}}
            </mat-list-item>
            <mat-list-item>
                <label [ngPlural]=" Country.regionalBlocs.length">
                  <ng-template ngPluralCase="=1">Région : </ng-template>
                  <ng-template ngPluralCase="other">Régions :</ng-template>
                </label> 
                {{regionalBlocs}}
              </mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <img [src]=Country.flag />
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>


    <mat-tab *ngIf="Country.currencies.length>0">

      <ng-template mat-tab-label *ngIf="Country.currencies.length>1">Monnaies ({{Country.currencies.length}})
      </ng-template>
      <ng-template mat-tab-label *ngIf="Country.currencies.length==1">Monnaie</ng-template>
      <mat-grid-list cols="3" rowHeight="1:1">

        <mat-grid-tile>
          <mat-list>
            <mat-list-item *ngFor="let c of Country.currencies">
              <app-currency-detail [Currency]="c"></app-currency-detail>
            </mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <img [src]=Country.flag />
        </mat-grid-tile>
      </mat-grid-list>


    </mat-tab>


    <mat-tab label="Traductions">
      <mat-grid-list cols="3" rowHeight="1:1">

        <mat-grid-tile>
          <mat-list>
            <mat-list-item *ngFor="let item of Country.translations | keyvalue">
              <label> {{item.key |uppercase }} </label>: {{item.value}}
            </mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <img [src]=Country.flag />
        </mat-grid-tile>
      </mat-grid-list>

    </mat-tab>
  </mat-tab-group>
</div>