<div class="SearchContainer">
    <div id="label">
        <mat-label>Recherche :</mat-label>
    </div>

    <mat-form-field appearence="outline">
        <mat-select [(ngModel)]="Field" placeholder="Champ">
            <mat-option *ngFor="let f of Fields" value="{{f[0]}}">
                {{f[0]}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearence="outline">
        <input matInput [(ngModel)]="Query" placeholder="Valeur">
    </mat-form-field>

    <div>
        <button [routerLink]="['/countries' , Field, Query ]" class="mat-stroked-button" color="primary" [disabled]="!Query || !Field"
            >CHERCHER</button>

    </div>
</div>